{% extends 'blog_recargas/base.html' %}

{% block title %}{{ titulo }}{% endblock %}
{% block page_header %}{{ titulo }}{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar Cliente</button>
    </form>
    <p><a href="{% url 'crear_empresa' %}">Ir a Crear Empresa</a> | <a href="{% url 'crear_recarga' %}">Ir a Crear Recarga</a> | <a href="{% url 'buscar_recarga' %}">Buscar Recarga</a></p>
{% endblock %}